body {
  font-family: "Poppins", sans-serif;
  padding: 0 20px;
}

h1 h2,
h3 {
  color: #231d3c;
  font-family: "Raleway", "Poppins", sans-serif;
  font-size: 5em;
}

.reactieveld {
  border: 1px solid rgb(204, 204, 204);
  margin: 5px 0pt;
  padding: 5px;
}

.reactie {
  background: rgba(128, 188, 184, 0.3);
  color: #302662;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 2px;
  margin: 8px;
  border-radius: 10px;
  line-height: 50px;
}

.cemper {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 250px;
  height: auto;
}

.content {
  margin-top: 150px;
}

form {
  font-size: 2em;
}

input {
  margin: 5px;
  font-size: 25px;
}

button {
  background-color: rgba(128, 188, 184, 0.3);
  font-family: "Poppins", sans-serif;
  border: 0 solid;
  padding: 10px;
  margin: 15px;
  border-radius: 8px;
  transition-delay: 4ms;
  cursor: pointer;
  color: #302662;
  font-weight: 800;
}

button:hover {
  background-color: rgba(128, 188, 184, 0.9);
  color: white;
}
